@using FinalProject.Core.Models.Ticket
@model IEnumerable<TicketViewModel>

@{
    ViewBag.Title = "My tickets";
}

<div class="text-center row">
    @foreach (var ticket in Model)
    {
        <div class="card col-4" style="width: 20rem;">
            <img class="card-img-top" style="width: 18rem;"src="@ticket.ImageUrl" alt="Event Image">
            <div class="card-body">
                    <a class="link-dark" asp-route-eventId="@ticket.EventId" asp-controller="Event" asp-action="Details">
                    <h5 class="card-title" >@ticket.EventName</h5>
                </a>
                <p class="mb-0">Ticket Holder: @ticket.TicketHolder</p>
                <p class="mb-0">Ticket reference: <b>@ticket.TicketReference</b></p>
                <p class="mb-0">Date: @ticket.Date</p>
            </div>
        </div>
    }
</div>