@model IEnumerable<EventViewModel>

@{
    ViewBag.Title = "FinalProject";
}

<div class="text-center row">
    @foreach (var entity in Model)
    {
            <div class="card col-4" style="width: 20rem;">
                <img class="card-img-top" style="width: 18rem;"
             src="@entity.ImageUrl" alt="Event Image">
                <div class="card-body">

                    <h5 class="card-title mt-1">@entity.Name</h5>
                    <p class="mb-0">Organiser: @entity.EventOrganiser
                        <p class="mb-0">Likes: @entity.Likes</p>
                    <p>Category: @entity.Category</p>
                </div>

                    <a class="input-group-sm" asp-route-eventId="@entity.Id" asp-controller="Event" asp-action="Details">
                    <input type="submit" value="Details" class="fs-6 btn btn-success mb-3 p-2" />
                </a>
            @if (this.User?.Identity != null && this.User.Identity.IsAuthenticated && this.User.IsInRole("admin"))
            {
                    <div class="col-md-12 bg-light text-center">
                        <a class="input-group-sm" asp-route-eventId="@entity.Id" asp-controller="Event" asp-action="Edit">
                            <input type="submit" value="Edit" class="fs-6 btn btn-warning mb-3 p-2" />
                        </a>
                        <form asp-controller="Event" asp-action="Delete" asp-route-eventId="@entity.Id" 
                            onclick="return confirm('Are you sure you want to delete this?')">
                                    <button type="submit" class="fs-6 btn btn-danger mb-3 p-2">Delete<i class="fas fa-trash-alt text-white"></i></button>
                        </form>
                    </div>
               
            }
            </div>
    }
</div>